@CHARSET "ISO-8859-1";
#loginlabel{
	font-family:'palatino linotype';
	font-size:24px;
	color:black;
}
#loginbox{
	
pedding-left:300px;
width:300px;
length:50px;

}
h1
{
text-align: center;
font-family: Palatino Linotype;
font-size: 450%;
font-style: italic;
}

input[type="text;password"] {
    width: 200px;
}

table